body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: #1e1e1e;
    color: black;
    padding: 15px;
    text-align: center;
}

nav{
    color: #333;
    padding: 10px;
    text-align: center;

}

nav a{
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover{
    background: #ff9800;
}

.banner{
    background: url('https://wallpapercave.com/wp/wp7488275.jpg');
    height: 300px;
    color: rgb(10, 10, 10);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
}

section{
    padding: 30px;
}
.card{
    width: 250px;
    background: #f4f4f4;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 8px;
}

.services{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card:hover{
    background: #ffe0b2;
}

from{
    width: 300px;
    margin: auto;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}
input,select,textarea{
 width: 100%;
 padding: 8px;
 margin: 8px 0;
}

button{
    background: #ff9800;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 16px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

button:hover{
    background: #e68900;
}

footer{
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

